html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #111;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #40ea51;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0 0 0.5rem;
  border: 0;
}

legend {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type=button]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

header, main, footer {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header h1 {
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  background-color: #000;
}

.cart {
  position: relative;
}
.cart .cart-list {
  position: absolute;
  top: 30px;
  right: 0;
}

.cart-button {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background: none;
  border: 1px dotted transparent;
  cursor: pointer;
  outline: 0;
}
.cart-button:focus {
  border-color: #000;
}
.cart-button .cart-icon {
  margin-right: 0.3rem;
}

.cart-list {
  display: none;
  width: 25rem;
  max-width: 80vw;
  max-height: 70vh;
  overflow: auto;
  margin: 0;
  padding: 0.8rem;
  background-color: #fff;
  border: 1px solid #000;
}
.cart-list.show {
  display: block;
}
.cart-list > p {
  margin-bottom: 0;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding: 0.8rem 0;
}
.cart-item:first-of-type {
  padding-top: 0;
}
.cart-item:last-of-type {
  padding-bottom: 0;
}
.cart-item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-item__image {
  width: 6rem;
  margin-right: 1rem;
}

.cart-item__info {
  flex-grow: 1;
}
.cart-item__info p {
  margin-bottom: 0.3rem;
}

.cart-item__info_header {
  display: flex;
  margin-bottom: 0.5rem;
}
.cart-item__info_header h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
}
.cart-item__info_header p {
  margin-left: 0.8rem;
  margin-bottom: 0;
}

.cart-item__submit-button {
  float: right;
}

.category-section:not(:first-of-type) {
  margin-top: 4rem;
}

.category-name {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.products {
  grid-row-gap: 3rem;
}

.product-image {
  object-fit: cover;
  object-position: center;
  margin-bottom: 0.5rem;
}

.product-name {
  margin-bottom: 0.3rem;
  font-size: 1.25rem;
}

.product-price {
  color: #888;
}

button[type=button],
button[type=submit] {
  display: inline-block;
  padding: 0.25rem 0.7rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  font-size: 1rem;
  line-height: 1.5;
  user-select: none;
  outline: 0;
}
button[type=button].cart-item__submit-button,
button[type=submit].cart-item__submit-button {
  color: #000;
  background-color: transparent;
  border-style: dashed;
}
button[type=button].cart-item__submit-button:hover,
button[type=submit].cart-item__submit-button:hover {
  color: #000;
  background-color: transparent;
  border-style: solid;
}
button[type=button]:hover,
button[type=submit]:hover {
  background-color: #262626;
}
button[type=button]:focus, button[type=button]:active,
button[type=submit]:focus,
button[type=submit]:active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
label:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

input:checked + label {
  color: #fff;
  background-color: #000;
  border: 1px solid black;
}

.error {
  margin-bottom: 1rem;
  color: #db3131;
}

/*# sourceMappingURL=main.css.map */
