html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #111;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.15s;
}
a:hover {
  color: currentColor;
  text-decoration: none;
}

img {
  width: 100%;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0 0 0.5rem;
  border: 0;
}

legend {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type=button]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 5%;
}
header h1 {
  margin-bottom: 0;
}
header > *:first-child,
header > *:last-child {
  flex-basis: 25%;
}

main, footer {
  padding-left: 10%;
  padding-right: 10%;
}

.cart {
  position: relative;
}
.cart .cart-list {
  position: absolute;
  top: 36px;
  right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  background-color: #000;
}
footer p {
  margin-bottom: 0;
}

.logo {
  width: 4rem;
}
@media (max-width: 767px) {
  .logo {
    width: 3rem;
  }
}

button[type=submit],
input[type=submit] {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 0;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s;
  user-select: none;
  outline: 0;
}
button[type=submit]:hover,
input[type=submit]:hover {
  color: #000;
  background-color: #eee;
}
button[type=submit]:focus, button[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}
button[type=submit].cart-item__submit-button,
input[type=submit].cart-item__submit-button {
  align-self: center;
  color: #000;
  background-color: transparent;
}
button[type=submit].cart-item__submit-button:hover,
input[type=submit].cart-item__submit-button:hover {
  color: #000;
  background-color: #eee;
  border-style: solid;
}

.cart-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: 1px dotted transparent;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
}
.cart-button:hover {
  background-color: #eee;
}
.cart-button:focus {
  border-color: #000;
}

.cart-button__icon {
  margin-right: 0.3rem;
}

.cart-button__number {
  margin-left: 0.5rem;
  font-weight: 500;
}

.cart-list {
  display: none;
  width: 25rem;
  max-width: 80vw;
  max-height: 70vh;
  overflow: auto;
  margin: 0;
  padding: 0.8rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
}
.cart-list.show {
  display: block;
}
.cart-list > p {
  margin-bottom: 0;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding: 0.8rem 0;
}
.cart-item:first-of-type {
  padding-top: 0;
}
.cart-item:last-of-type {
  padding-bottom: 0;
}
.cart-item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.cart-item__image {
  width: 6rem;
  margin-right: 1rem;
  border-radius: 0;
}

.cart-item__info {
  flex-grow: 1;
}
.cart-item__info p {
  margin-bottom: 0.3rem;
}

.cart-item__info_header {
  display: flex;
  margin-bottom: 0.5rem;
}
.cart-item__info_header h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
}
.cart-item__info_header p {
  margin-left: 0.8rem;
  margin-bottom: 0;
}

.cart-item__submit-button {
  float: right;
}

.select-wrapper {
  position: relative;
  width: fit-content;
}
.select-wrapper::after {
  content: "+";
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  pointer-events: none;
}

.product__option {
  display: block;
  margin-bottom: 1rem;
  padding: 0.3rem 1.5rem 0.3rem 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  border: 1px solid transparent;
  border-bottom-color: #000;
  border-radius: 0;
  outline: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.product__option:focus, .product__option:active {
  border-top: 1px dotted #000;
  border-left: 1px dotted #000;
  border-right: 1px dotted #000;
}

.category:not(:first-of-type) {
  margin-top: 4rem;
}

.category__name {
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 3.5rem;
  letter-spacing: -0.03em;
}
@media (max-width: 767px) {
  .category__name {
    font-size: 2.5rem;
  }
}

.product__image {
  object-fit: cover;
  object-position: center;
}

.product__name {
  margin-top: -0.8em;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.5vw;
}
@media (max-width: 991px) {
  .product__name {
    font-size: 4vw;
  }
}
@media (max-width: 767px) {
  .product__name {
    font-size: 8vw;
  }
}

.product__price {
  margin-bottom: 0;
  text-align: right;
  color: #aaa;
}

.message {
  margin-bottom: 1rem;
  color: #db3131;
}

/*# sourceMappingURL=main.css.map */
