html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #111;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.15s;
}
a:hover {
  color: currentColor;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.5;
  background-color: transparent;
  border: 0;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0 0 0.5rem;
  border: 0;
}

legend {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

select {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select:not(:disabled),
button:not(:disabled),
[type=button]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 5%;
  z-index: 2;
}
.header h1 {
  margin-bottom: 0;
}
.header > *:first-child,
.header > *:last-child {
  flex-basis: 25%;
}

.main, .footer {
  padding-left: 10%;
  padding-right: 10%;
}

.cart {
  position: relative;
}
.cart .cart__list {
  position: absolute;
  top: 36px;
  right: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  background-color: #000;
}
.footer p {
  margin-bottom: 0;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  color: #000;
  background-color: transparent;
  border: 1px solid transparent;
  user-select: none;
  outline: 0;
}
.button:hover {
  background-color: #eee;
}
.button:focus, .button:active {
  border-style: dotted;
  border-color: #000;
}

.button--black {
  color: #fff;
  background-color: #000;
}
.button--black:hover {
  color: #000;
  background-color: #aaa;
}

.button--gray {
  color: #000;
  background-color: transparent;
}
.button--gray:hover {
  color: #000;
  background-color: #eee;
  border-style: solid;
}

.button__icon_s {
  font-size: 1rem;
}

.button__text {
  margin-left: 0.5rem;
  font-weight: 500;
}

.cart__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.3rem;
}

.item__button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

/* Form controls */
.select {
  position: relative;
  width: fit-content;
  border-bottom: 1px solid #000;
  z-index: 1;
}
.select::after {
  content: "add";
  position: absolute;
  right: 0;
  bottom: 50%;
  font-family: "Material Icons Sharp";
  transform: translateY(50%);
  pointer-events: none;
}
.select select {
  width: 100%;
  padding: 0.3rem 1.5rem 0.3rem 0;
  color: #000;
  background-color: #fff;
}

.product__select {
  min-width: 30%;
  margin-bottom: 1rem;
}

/* Cart list and items */
.cart__list {
  display: none;
  width: 25rem;
  max-width: 80vw;
  max-height: 70vh;
  margin: 0;
  padding: 0.8rem;
  background-color: #fff;
  border: 1px solid #000;
  overflow: auto;
  overscroll-behavior: contain;
}
.cart__list.show {
  display: block;
}
.cart__list > p {
  margin-bottom: 0;
}

.item {
  display: flex;
  align-items: flex-start;
  padding: 0.8rem 0;
}
.item:first-of-type {
  padding-top: 0;
}
.item:last-of-type {
  padding-bottom: 0;
}
.item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.item__image {
  width: 6rem;
  margin-right: 1rem;
}

.item__info {
  flex-grow: 1;
  padding: 0.3rem 0;
}

.item__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.item__name {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.item__price {
  margin-bottom: 0;
}

.item__option {
  margin-bottom: 0.3rem;
}

.category:not(:first-of-type) {
  margin-top: 4rem;
}

.category__name {
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 3.5rem;
  letter-spacing: -0.03em;
}
@media (max-width: 767px) {
  .category__name {
    font-size: 2.5rem;
  }
}

.product__image {
  object-fit: cover;
  object-position: center;
}

.product__name {
  margin-top: -0.8em;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.5vw;
}
@media (max-width: 991px) {
  .product__name {
    font-size: 4vw;
  }
}
@media (max-width: 767px) {
  .product__name {
    font-size: 8vw;
  }
}

.price {
  color: #aaa;
}

.product__price {
  margin-bottom: 0;
  text-align: right;
  font-size: 1.2rem;
}

/* Logo */
.logo {
  width: 4rem;
}
@media (max-width: 767px) {
  .logo {
    width: 3rem;
  }
}

/* Misc */
.message {
  margin-bottom: 1rem;
  color: #db3131;
}

/*# sourceMappingURL=main.css.map */
