// Base
//
// Variables, resets and general styles

// Variables

$white: #fff;
$gray-1: #eee;
$gray-2: #aaa;
$black: #000;
$accent: #40ea51;

$border-radius: 0;

$l-bp: 991px;
$m-bp: 767px;

$line-height: 1.5;


// General

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Inter, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: $line-height;
}

img {
  width: 100%;
}


// Typography

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $gray-2;
  text-decoration: none;
  transition: color .15s;

  &:hover {
    color: currentColor;
    text-decoration: none;
  }
}


// Forms

button {
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  line-height: $line-height;
  background-color: transparent;
  border: 0;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0 0 .5rem;
  border: 0;
}

legend {
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

select {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px; // avoid awkward zoom on iOS devices
  line-height: $line-height;
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select:not(:disabled),
button:not(:disabled),
[type='button']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}
