// Components

// Buttons

button[type="button"],
button[type="submit"] {
  display: inline-block;
  padding: .25rem .7rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  font-size: 1rem;
  line-height: 1.5;
  user-select: none;
  outline: 0;

  &:hover {
    background-color: lighten(#000, 15%);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px rgba(#000, .5);
  }
}

// Form controls

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: .3rem;
  padding: .3rem .5rem;
  border: 1px solid rgba(#000, .2);
  cursor: pointer;

  &:hover {
    border-color: rgba(#000, .5);
  }
}

input:checked + label {
  color: #fff;
  background-color: #000;
  border: 1px solid black;
}

// Misc

.error {
  margin-bottom: 1rem;
  color: #db3131;
}