// Components

// Buttons

button[type="button"],
button[type="submit"],
input[type="submit"] {
  display: inline-block;
  padding: .4rem .7rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: $border-radius;
  line-height: 1.5;
  user-select: none;
  outline: 0;

  &.cart-item__submit-button {
    color: #000;
    background-color: transparent;
    border-style: dashed;

    &:hover {
      color: #000;
      background-color: transparent;
      border-style: solid;
    }
  }

  &:hover {
    background-color: lighten(#000, 15%);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px rgba(#000, .5);
  }
}

// Form controls

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

label {
  display: inline-block;
  min-width: 1rem;
  margin-bottom: .3rem;
  padding: .3rem .5rem;
  text-align: center;
  border: 1px solid $gray-3;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    border-color: #000;
  }

  @at-root input:checked + & {
    background-color: $gray-3;
    border-color: #000;
  }
}

// Misc

.message {
  margin-bottom: 1rem;
  color: #db3131;
}