// Components
//

// Buttons

.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  color: $black;
  background-color: transparent;
  border: 1px solid transparent;
  user-select: none;
  outline: 0;

  &:hover {
    background-color: $gray-1;
  }

  &:focus,
  &:active {
    border-style: dotted;
    border-color: $black;
  }
}

.button--black {
  color: $white;
  background-color: $black;

  &:hover {
    color: $black;
    background-color: $gray-2;
  }
}

.button--gray {
  color: $black;
  background-color: transparent;

  &:hover {
    color: $black;
    background-color: $gray-1;
    border-style: solid;
  }
}

.button__icon_s {
  font-size: 1rem;
}

.button__text {
  margin-left: .5rem;
  font-weight: 500;
}


.cart__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: .3rem;
}

.item__button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
}


// Form controls

.select {
  position: relative;
  width: fit-content;
  border-bottom: 1px solid $black;
  z-index: 1;

  &::after {
    content: 'add';
    position: absolute;
    right: 0;
    bottom: 50%;
    font-family: 'Material Icons Sharp';
    transform: translateY(50%);
    pointer-events: none;
  }

  select {
    width: 100%;
    padding: .3rem 1.5rem .3rem 0;
    color: $black;
    background-color: $white;
  }
}

.product__select {
  min-width: 30%;
  margin-bottom: 1rem;
}


// Cart list and items

.cart {
  position: relative;

  .cart__list {
    position: absolute;
    top: 36px; // fallback
    right: 0;
  }
}

.cart__list {
  display: none;
  width: 25rem;
  max-width: 80vw;
  max-height: 70vh;
  margin: 0;
  padding: .8rem;
  background-color: $white;
  border: 1px solid $black;
  overflow: auto;
  overscroll-behavior: contain;

  &.show {
    display: block;
  }

  > p {
    margin-bottom: 0;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  padding: .8rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-1;
  }
}

.item__image {
  width: 6rem;
  margin-right: 1rem;
}

.item__info {
  flex-grow: 1;
  padding: .3rem 0;
}

.item__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.item__name {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.item__price {
  margin-bottom: 0;
}

.item__option {
  margin-bottom: .3rem;
}


// Page

.category:not(:first-of-type) {
  margin-top: 5rem;
}

.category__name {
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 4vw;
  letter-spacing: -.03em;

  @media (max-width: $l-bp) {
    font-size: 6vw;
  }

  @media (max-width: $m-bp) {
    font-size: 12vw;
  }
}

.product__image {
  object-fit: cover;
  object-position: center;
}

.product__name {
  margin-top: -.8em;
  margin-left: 1rem;
  margin-bottom: .5rem;
  font-size: 2.5vw;
  font-weight: 700;

  @media (max-width: $l-bp) {
    font-size: 4vw;
  }

  @media (max-width: $m-bp) {
    font-size: 8vw;
  }
}

.price {
  color: $gray-2;
}

.product__price {
  margin-bottom: 0;
  text-align: right;
  font-size: 1.2rem;
}


// Logo

.logo {
  width: 4rem;

  @media (max-width: $m-bp) {
    width: 3rem;
  }
}


// Misc

.message {
  margin-bottom: 1rem;
  font-size: .9rem;
  color: #db3131;
}


// Header

.header {
  margin-bottom: 2rem;
  padding: 1rem 5%;
}


// Footer

.footer {
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: $white;
  background-color: $black;
}

.footer__text {
  margin-bottom: 0;
}
