// Layout

header, main, footer {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-bottom: 1px solid $gray-1;

  h1 {
    margin-bottom: 0;
  }
}


// Cart

.cart {
  position: relative;

  .cart-list {
    position: absolute;
    top: 36px; // fallback
    right: 0;
  }
}

.cart-button {
  display: flex;
  align-items: center;
  padding: .3rem;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: 1px dotted transparent;
  border-radius: $border-radius;
  cursor: pointer;
  outline: 0;

  &:hover {
    background-color: $gray-1;
  }

  &:focus {
    border-color: #000;
  }
}

.cart-button__icon {
  margin-right: .3rem;
}

.cart-button__number {
  margin-left: .5rem;
  font-weight: 500;
}

.cart-list {
  display: none;
  width: 25rem;
  max-width: 80vw;
  max-height: 70vh;
  overflow: auto;
  margin: 0;
  padding: .8rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: $border-radius;

  &.show {
    display: block;
  }

  > p {
    margin-bottom: 0;
  }
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding: .8rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-1;
  }
}

.cart-item__image {
  width: 6rem;
  margin-right: 1rem;
  border-radius: $border-radius;
}

.cart-item__info {
  flex-grow: 1;

  p {
    margin-bottom: .3rem;
  }
}

.cart-item__info_header {
  display: flex;
  margin-bottom: .5rem;

  h4 {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  p {
    margin-left: .8rem;
    margin-bottom: 0;
  }
}

.cart-item__submit-button {
  float: right;
}


// Footer

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  background-color: #000;

  p {
    margin-bottom: 0;
  }
}
