// Layout

header, main, footer {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  background-color: #000;
}

// Cart

.cart {
  position: relative;

  .cart-list {
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.cart-button {
  display: flex;
  align-items: center;
  padding: .3rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background: none;
  border: 1px dotted transparent;
  cursor: pointer;
  outline: 0;

  &:focus {
    border-color: #000;
  }

  .cart-icon {
    margin-right: .3rem;
  }
}

.cart-list {
  display: none;
  margin: 0;
  padding: .8rem;
  border: 1px solid #000;
  list-style: none;

  &.show {
    display: block;
  }
}

.cart-item {
  display: flex;
  align-items: start;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.cart-item__image {
  width: 6rem;
  margin-right: 1rem;
}

.cart-item__info {
  min-width: 15rem;
  max-width: 20rem;

  p {
    margin-bottom: .3rem;
  }
}

.cart-item__info_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;

  h4 {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  p {
    margin-left: .5rem;
    margin-bottom: 0;
  }
}

// Page

.category-section:not(:first-of-type) {
  margin-top: 4rem;
}

.category-name {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.products {
  grid-row-gap: 3rem;
}

.product-image {
  object-fit: cover;
  object-position: center;
  margin-bottom: .5rem;
}

.product-name {
  margin-bottom: .3rem;
  font-size: 1.25rem;
}

.product-price {
  color: #888;
}
