// Layout

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;

  > *:first-child,
  > *:last-child {
    flex-basis: 25%;
  }
}

.main, .footer {
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  display: flex;
  justify-content: space-between;
}
