// Base

// Variables

$white: #fff !default;
$black: #000 !default;

$blue: #007aff !default;
$green: #28cd41 !default;
$orange: #ff9500 !default;
$pink: #ff2d55 !default;
$purple: #af52de !default;
$red: #ff3b30 !default;
$teal: #5ac8fa !default;
$yellow: #ffcc00 !default;

$accent: $green;


// Resets

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #111;
}

h1 {
  font-size: 3.3rem;
  letter-spacing: -.045em;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -.035em;
}

h3 {
  font-size: 2rem;
  letter-spacing: -.03em;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: -.02em;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -.01em;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline $accent;
  }
}

img {
  width: 100%;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type=button]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
