// Components

// Buttons

.btn {
  display: inline-block;
  padding: .25rem .7rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .1s, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
  user-select: none;
}

.btn-primary {
  color: $white;
  background-color: $black;
  border-color: $black;

  &:hover {
    background-color: lighten($black, 15%);
    border-color: lighten($black, 15%);
  }
}

// Form controls

fieldset {
  margin-bottom: 1.5rem;
}

legend {
  margin-bottom: 1rem;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: .3rem;
  padding: .3rem .5rem;
  border: 1px solid transparent;
  cursor: pointer;
}

input:checked + label {
  border: 1px solid black;
}
