// Layout

header, main, footer {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

footer {
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  background-color: #000;
}

// Cart

.cart-icon {
  font-size: 1rem;
}

.cart-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.cart-item {
  margin-bottom: 1rem;
}

.cart-item.grid {
  grid-row-gap: 0;
}

.cart-item-image {
  display: block;
  width: 5rem;
}

.cart-item-name {
  font-size: 1rem;
  margin-bottom: 0;
}

.cart-item-price {
  font-size: .9rem;
}

// Page

.category-section {
  padding-top: 2rem;
  border-top: 1px solid #000;

  &:not(:first-of-type) {
    margin-top: 4rem;
  }
}

.category-name {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.products {
  grid-row-gap: 3rem;
}

.product-image {
  object-fit: cover;
  object-position: center;
  margin-bottom: .5rem;
}

.product-name {
  margin-bottom: .3rem;
  font-size: 1.25rem;
}

.price {
  color: #888;
}
