// Layout

header, main, footer {
  max-width: 1200px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.category-section {
  margin-bottom: 3rem;
}

.product-name {
  font-size: 1.3rem;
}

.product-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: .25rem;
}

.product-price {
  font-size: .9rem;
  color: #888;
}
